{% extends "layout.njk" %}
{% from "components/pagination.njk" import pagination %}

{% set allPages = [
  { path: "/", title: "Home" },
  { path: "/second-page", title: "Second Page" },
  { path: "/third-page", title: "Third Page" },
  { path: "/form-components", title: "Form Components" },
  { path: "/layout-components", title: "Layout Components" },
  { path: "/feedback-components", title: "Feedback Components" },
  { path: "/missing-components", title: "Additional Components" }
] %}

{% set currentPagePath = "/form-components" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ title }}</h1>
      <p class="govuk-body">{{ message }}</p>

      <h2 class="govuk-heading-m">Form Components</h2>

      <form class="govuk-form-group">
        <div class="govuk-form-group">
          <label class="govuk-label" for="input-example">
            Text input
          </label>
          <input class="govuk-input" id="input-example" name="input-example" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="textarea-example">
            Textarea
          </label>
          <textarea class="govuk-textarea" id="textarea-example" name="textarea-example" rows="5"></textarea>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h3 class="govuk-fieldset__heading">
                Checkboxes
              </h3>
            </legend>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="checkbox-1" name="checkbox" type="checkbox" value="checkbox-1">
                <label class="govuk-label govuk-checkboxes__label" for="checkbox-1">
                  Checkbox 1
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="checkbox-2" name="checkbox" type="checkbox" value="checkbox-2">
                <label class="govuk-label govuk-checkboxes__label" for="checkbox-2">
                  Checkbox 2
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h3 class="govuk-fieldset__heading">
                Radios
              </h3>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="radio-1" name="radio" type="radio" value="radio-1">
                <label class="govuk-label govuk-radios__label" for="radio-1">
                  Radio 1
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="radio-2" name="radio" type="radio" value="radio-2">
                <label class="govuk-label govuk-radios__label" for="radio-2">
                  Radio 2
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="file-upload">
            File upload
          </label>
          <input class="govuk-file-upload" id="file-upload" name="file-upload" type="file">
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Submit form
        </button>
      </form>

      {{ pagination(allPages, currentPagePath) }}
    </div>
  </div>
{% endblock %} 