{% extends "layout.njk" %}
{% from "components/pagination.njk" import pagination %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% set allPages = [
  { path: "/", title: "Home" },
  { path: "/second-page", title: "Second Page" },
  { path: "/third-page", title: "Third Page" },
  { path: "/form-components", title: "Form Components" },
  { path: "/layout-components", title: "Layout Components" },
  { path: "/feedback-components", title: "Feedback Components" },
  { path: "/missing-components", title: "Additional Components" }
] %}

{% set currentPagePath = "/form-components" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ title }}</h1>
      <p class="govuk-body">{{ message }}</p>

      <h2 class="govuk-heading-m">Form Components</h2>

      <form class="govuk-form-group">
        {{ govukInput({
          label: {
            text: "Text input"
          },
          id: "input-example",
          name: "input-example"
        }) }}

        {{ govukTextarea({
          label: {
            text: "Textarea"
          },
          id: "textarea-example",
          name: "textarea-example",
          rows: "5"
        }) }}

        {{ govukFieldset({
          legend: {
            text: "Checkboxes",
            classes: "govuk-fieldset__legend--m",
            isPageHeading: false
          }
        }) }}
        {{ govukCheckboxes({
          name: "checkbox",
          items: [
            {
              value: "checkbox-1",
              text: "Checkbox 1"
            },
            {
              value: "checkbox-2",
              text: "Checkbox 2"
            }
          ]
        }) }}

        {{ govukFieldset({
          legend: {
            text: "Radios",
            classes: "govuk-fieldset__legend--m",
            isPageHeading: false
          }
        }) }}
        {{ govukRadios({
          name: "radio",
          items: [
            {
              value: "radio-1",
              text: "Radio 1"
            },
            {
              value: "radio-2",
              text: "Radio 2"
            }
          ]
        }) }}

        {{ govukFileUpload({
          id: "file-upload",
          name: "file-upload",
          label: {
            text: "File upload"
          }
        }) }}

        {{ govukButton({
          text: "Submit form",
          attributes: {
            "data-module": "govuk-button"
          }
        }) }}
      </form>

      {{ pagination(allPages, currentPagePath) }}
    </div>
  </div>
{% endblock %} 