{% extends "layout.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ title }}</h1>
      <p class="govuk-body">{{ message }}</p>

      <h2 class="govuk-heading-m">Form Components</h2>

      <form class="govuk-form-group">
        <div class="govuk-form-group">
          <label class="govuk-label" for="input-example">
            Text input
          </label>
          <input class="govuk-input" id="input-example" name="input-example" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="textarea-example">
            Textarea
          </label>
          <textarea class="govuk-textarea" id="textarea-example" name="textarea-example" rows="5"></textarea>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h3 class="govuk-fieldset__heading">
                Checkboxes
              </h3>
            </legend>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="checkbox-1" name="checkbox" type="checkbox" value="checkbox-1">
                <label class="govuk-label govuk-checkboxes__label" for="checkbox-1">
                  Checkbox 1
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="checkbox-2" name="checkbox" type="checkbox" value="checkbox-2">
                <label class="govuk-label govuk-checkboxes__label" for="checkbox-2">
                  Checkbox 2
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h3 class="govuk-fieldset__heading">
                Radios
              </h3>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="radio-1" name="radio" type="radio" value="radio-1">
                <label class="govuk-label govuk-radios__label" for="radio-1">
                  Radio 1
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="radio-2" name="radio" type="radio" value="radio-2">
                <label class="govuk-label govuk-radios__label" for="radio-2">
                  Radio 2
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="file-upload">
            File upload
          </label>
          <input class="govuk-file-upload" id="file-upload" name="file-upload" type="file">
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Submit form
        </button>
      </form>

      <div class="govuk-pagination">
        <div class="govuk-pagination__prev">
          <a class="govuk-link govuk-pagination__link" href="/third-page" rel="prev">
            <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg>
            <span class="govuk-pagination__link-title">Previous</span>
            <span class="govuk-visually-hidden">:</span>
            <span class="govuk-pagination__link-label">Third page</span>
          </a>
        </div>
        <ul class="govuk-pagination__list">
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="/" aria-label="Page 1">
              1
            </a>
          </li>
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="/second-page" aria-label="Page 2">
              2
            </a>
          </li>
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="/third-page" aria-label="Page 3">
              3
            </a>
          </li>
          <li class="govuk-pagination__item govuk-pagination__item--current">
            <a class="govuk-link govuk-pagination__link" href="/form-components" aria-label="Page 4" aria-current="page">
              4
            </a>
          </li>
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="/layout-components" aria-label="Page 5">
              5
            </a>
          </li>
        </ul>
        <div class="govuk-pagination__next">
          <a class="govuk-link govuk-pagination__link" href="/layout-components" rel="next">
            <span class="govuk-pagination__link-title">Next</span>
            <span class="govuk-visually-hidden">:</span>
            <span class="govuk-pagination__link-label">Layout components</span>
            <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %} 