{% extends "layout.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ title }}</h1>
      <p class="govuk-body">{{ message }}</p>
      
      <h2 class="govuk-heading-m">Pages</h2>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="/second-page">Second Page</a>
        </li>
        <li>
          <a class="govuk-link" href="/third-page">Third Page</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Component Examples</h2>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="/form-components">Form Components</a>
        </li>
        <li>
          <a class="govuk-link" href="/layout-components">Layout Components</a>
        </li>
        <li>
          <a class="govuk-link" href="/feedback-components">Feedback Components</a>
        </li>
        <li>
          <a class="govuk-link" href="/missing-components">Missing Components</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Components on this page</h2>
      <p class="govuk-body">This page demonstrates the following GOV.UK components:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Header</li>
        <li>Footer</li>
        <li>Button</li>
        <li>Warning text</li>
        <li>Tag</li>
        <li>Details</li>
        <li>Inset text</li>
      </ul>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          This is a warning message
        </strong>
      </div>

      <div class="govuk-inset-text">
        This is an inset text component
      </div>

      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Find address
        </button>
      </div>

      <hr class="govuk-section-break govuk-section-break--visible">

      <h2 class="govuk-heading-m">Navigation</h2>
      <ul class="govuk-list">
        <li>
          <a href="/second-page" class="govuk-link">Go to second page</a>
        </li>
        <li>
          <a href="/third-page" class="govuk-link">Go to third page</a>
        </li>
      </ul>

      <div class="govuk-pagination">
        <ul class="govuk-pagination__list">
          <li class="govuk-pagination__item govuk-pagination__item--current">
            <a class="govuk-link govuk-pagination__link" href="/" aria-label="Page 1" aria-current="page">
              1
            </a>
          </li>
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="/second-page" aria-label="Page 2">
              2
            </a>
          </li>
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="/third-page" aria-label="Page 3">
              3
            </a>
          </li>
        </ul>
        <div class="govuk-pagination__next">
          <a class="govuk-link govuk-pagination__link" href="/second-page" rel="next">
            <span class="govuk-pagination__link-title">Next</span>
            <span class="govuk-visually-hidden">:</span>
            <span class="govuk-pagination__link-label">Second page</span>
            <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %} 