{% extends "layout.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ title }}</h1>
      <p class="govuk-body">{{ message }}</p>

      <h2 class="govuk-heading-m">New Components</h2>

      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            This is a notification banner
          </p>
        </div>
      </div>

      <div class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Example User
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            1 January 1990
          </dd>
        </div>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="sort">
          Sort by
        </label>
        <select class="govuk-select" id="sort" name="sort">
          <option value="published">Recently published</option>
          <option value="updated" selected>Recently updated</option>
          <option value="views">Most views</option>
          <option value="comments">Most comments</option>
        </select>
      </div>

      <a href="/" class="govuk-back-link">Back to home</a>
    </div>
  </div>
{% endblock %} 