{% extends "layout.njk" %}
{% from "components/pagination.njk" import pagination %}

{% set allPages = [
  { path: "/", title: "Home" },
  { path: "/second-page", title: "Second Page" },
  { path: "/third-page", title: "Third Page" },
  { path: "/form-components", title: "Form Components" },
  { path: "/layout-components", title: "Layout Components" },
  { path: "/feedback-components", title: "Feedback Components" },
  { path: "/missing-components", title: "Additional Components" }
] %}

{% set currentPagePath = "/third-page" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ title }}</h1>
      <p class="govuk-body">{{ message }}</p>

      <h2 class="govuk-heading-m">New Components</h2>

      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Writing well for the web
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p class="govuk-body">This is the content for Writing well for the web.</p>
          </div>
        </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                Writing well for specialists
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
            <p class="govuk-body">This is the content for Writing well for specialists.</p>
          </div>
        </div>
      </div>

      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#past-day">
              Past day
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#past-week">
              Past week
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#past-month">
              Past month
            </a>
          </li>
        </ul>
        <div class="govuk-tabs__panel" id="past-day">
          <h2 class="govuk-heading-l">Past day</h2>
          <p class="govuk-body">Content for past day</p>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
          <h2 class="govuk-heading-l">Past week</h2>
          <p class="govuk-body">Content for past week</p>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
          <h2 class="govuk-heading-l">Past month</h2>
          <p class="govuk-body">Content for past month</p>
        </div>
      </div>

      {{ pagination(allPages, currentPagePath) }}
    </div>
  </div>
{% endblock %} 