{% extends "layout.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ title }}</h1>
      <p class="govuk-body">{{ message }}</p>

      <h2 class="govuk-heading-m">New Components</h2>

      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Writing well for the web
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p class="govuk-body">This is the content for Writing well for the web.</p>
          </div>
        </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                Writing well for specialists
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
            <p class="govuk-body">This is the content for Writing well for specialists.</p>
          </div>
        </div>
      </div>

      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#past-day">
              Past day
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#past-week">
              Past week
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#past-month">
              Past month
            </a>
          </li>
        </ul>
        <div class="govuk-tabs__panel" id="past-day">
          <h2 class="govuk-heading-l">Past day</h2>
          <p class="govuk-body">Content for past day</p>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
          <h2 class="govuk-heading-l">Past week</h2>
          <p class="govuk-body">Content for past week</p>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
          <h2 class="govuk-heading-l">Past month</h2>
          <p class="govuk-body">Content for past month</p>
        </div>
      </div>

      <div class="govuk-pagination">
        <div class="govuk-pagination__prev">
          <a class="govuk-link govuk-pagination__link" href="/second-page" rel="prev">
            <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg>
            <span class="govuk-visually-hidden">:</span>
            <span class="govuk-pagination__link-label">Second</span>
          </a>
        </div>
        <ul class="govuk-pagination__list">
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="/" aria-label="Page 1">
              1
            </a>
          </li>
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="/second-page" aria-label="Page 2">
              2
            </a>
          </li>
          <li class="govuk-pagination__item govuk-pagination__item--current">
            <a class="govuk-link govuk-pagination__link" href="/third-page" aria-label="Page 3" aria-current="page">
              3
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %} 